@font-face{
    font-family: "oswald_bold";
    src: url("./fonts/Oswald-Bold.ttf");
}

:root{
    --oswald_bold:"oswald_bold"
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
    padding-bottom: 15px;
}

.header_left{
    padding-top: 1%;
}

.h3{
    font-family: var(--oswald_bold);
    font-size: 15px;
}

.qr_code{
    width: 100px;
}

.ico{
    width: 15px;
    margin-right: 10px;
}

.contacts{
    display: flex;
}

.header_lables{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.find{
    background: #fff url("./temp_images/iconloupe.svg") no-repeat;
    background-position: 2% 50%;
    background-size: 5% auto;
    padding-left: 30px;
    border-color: #fff;   
    border-radius: 5px;           
    font-family: var(--oswald_bold);
    border: none;
    height: 30px;
}

.header_right{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in_wb{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wb_button{
    background: url(./temp_images/Wildberries_pc_svg.svg) no-repeat;
    width: 100px;
    height: 27px;
    border: none;
}

.gray_button{
    border: none;
    padding-left: 25px;
    
}

.button_profile{
    background: url(./temp_images/iconprofile.svg) no-repeat;
    background-size: 20%;
}

.button_basket{
    background: url(./temp_images/iconbasket.svg) no-repeat;
    background-size: 27%;
}

.button_favorites{
    background: url(./temp_images/iconfavorites.svg) no-repeat;
    background-size: 23%;
}

.profile{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-outline-dark{
    border: none;
    font-family: var(--oswald_bold);
}